/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 2:33:26 PM
    Author     : nigelantwi-boasiako
*/

.col-md-12 h1 {
  color: #6d6d6d;
}

.col-md-12 h2 > a {
    color: #4cae4c
}