/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2016, 4:31:19 PM
    Author     : nigelantwi-boasiako
*/



.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-success.btn-outline:hover{

    color: #fff;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #c0c0c0
}.col- {

}
