

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.table tbody tr td a.btn { display:none;}
.table tbody tr:hover td a.btn { display:inline-block;}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.search 
{
    float: right;
    width:200px;
    height:40px;
}


















